/**
 * Cover
 */
.has-cover {
	position: relative;
}

.cover-img {
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
    top: 0;
}